---
pageTitle: Projects
pageDescription: Things I’ve released into the world
---
{% include "heading.njk" %}
<section>
  <div class="flex items-center gap-4">
    <div class="w-48">
      <img src="/images/cover500x500.jpg" alt="Cover Image" />
    </div>
    <div class="w-full">
      <!-- Header-->
      <div class="flex gap-4 items-center">
        <button id="playButton" class="bg-[#cc2900] p-4 rounded-full">
          <img id="playButtonIcon" class="text-white" src="/svg/play.svg" alt="Play Button" />
        </button>
        <p class="title">Ascendant Vierge - Influenceur (Onelas Edit)</p>
      </div>
      <!-- Wave -->
      <div id="waveform" class="h-full"></div>
      <!-- Controls -->
      <div class="flex justify-between">
        <div class="flex gap-2">
          <img id="volumeIcon" class="text-white" src="/svg/volume.svg" alt="Volume" />
          <input id="volumeSlider" class="" type="range" name="volume-slider" min="0" max="100" value="50" />
        </div>
        <div class="timecode">
          <span id="currentTime">00:00:00</span>
          <span>/</span>
          <span id="totalDuration">00:00:00</span>
        </div>
      </div>
      <!-- end of player-->
    </div>
  </div>
</section>
<script src="https://unpkg.com/wavesurfer.js@5.0.1/dist/wavesurfer.js"></script>
<script src="/script.js"></script>
