---
title: DJ Sets
description: 🤼‍♂️
---

<div>
  <header class="flex flex-col gap-4 justify-around mb-6">
    <h1 class="text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ title }}
    </h1>
    <p class="text-xl max-w-prose mb-12">{{ description }}</p>
    <hr class="border-dotted w-36 border-neutral-400" />
  </header>

  <div class="flex flex-col gap-4 ">
    {% for x in sets %}
    <div class="flex gap-4 max-w-3xl">
      <img class="w-48" src="{{ x.image }}" alt="Cover Image" />
      <div class="flex flex-col justify-around w-full">
        <div class="flex justify-between">
          <h2 class="title">{{ x.title }}</h2>
          <div class="flex flex-col">
            <p>{{ x.date | ISODate }}</p>
            <p>{{ x.tags }}</p>
          </div>
        </div>
        <audio class="w-full" controls>
          <source src="{{ x.url }}" type="audio/mpeg">Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
