---
title: Wiki
description: My thoughts, ideas and experiences with the things I find interesting
#eleventyNavigation:
#  key: Wiki
#  order: 3
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
{% for tag in collections.all | getAllTags | filterTagList %}
  {% set postslist = collections[ tag ] %}
  <div class="flex flex-col gap-6">
    <h2 class="text-2xl font-bold text-neutral-700 dark:text-neutral-300">{{ tag }}</h2>
    <hr class="border-dotted w-36 border-neutral-400">
    {% for post in postslist %}
      {% include "components/writing.njk" %}
    {% endfor %}
  </div>
{% endfor %}
</div>
