<footer class="py-10 print:hidden">
  <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
    <ul class="flex flex-col list-none sm:flex-row gap-2 sm:gap-8">
      <li
        class="mb-1 group ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
        <a href="/about/" title="About"><span
            class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">About</span></a>
      </li>
      <li
        class="mb-1 group ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
        <a href="/topics/" title="Topics"><span
            class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">Topics</span></a>
      </li>
    </ul>
  </nav>
  <div class="flex items-center justify-between">
    <div>
      <p class="text-sm text-neutral-500 dark:text-neutral-400">©
        2023
        James Panther</p>
      <p class="text-xs text-neutral-500 dark:text-neutral-400">Powered by <a
          class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://gohugo.io/"
          target="_blank" rel="noopener noreferrer">Hugo</a> &amp; <a
          class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://git.io/hugo-congo"
          target="_blank" rel="noopener noreferrer">Congo</a></p>
    </div>
  </div>
</footer>