<!doctype html>
<html lang="{{ metadata.language }}" id="top">

<head>
  <title>{{ title or metadata.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light">
  <link href="data:," rel="icon" />
  <link href="/tailwind.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  <link href="{{ 'atom.xml' | htmlBaseUrl(metadata.url) }}" type="application/atom+xml" rel="alternate"
    title="Atom feed for blog posts" />
</head>

<body
  class="flex flex-col min-h-screen m-auto max-w-screen-md">
  <nav class="flex items-start justify-between sm:items-center py-6">
    <ul class="flex flex-col list-none text-end sm:flex-row gap-4">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="{% if entry.url == page.url %}underline{% endif %}">
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
  <main class="flex flex-col">
    {{ content | safe }}
  </main>
</body>
</html>
