<!doctype html>
<html lang="{{ metadata.language }}" id="top">

<head>
  <title>{{ title or metadata.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light">
  <link href="data:," rel="icon" />
  <link href="/style.css" rel="stylesheet" />
  <link href="{{ 'atom.xml' | htmlBaseUrl(metadata.url) }}" type="application/atom+xml" rel="alternate" title="Atom feed for blog posts" />
</head>

<body>
  <nav>
    <a href="#menu">Menu &darr;</a>
  </nav>
  <main>{{ content | safe }}</main>
  <footer role="contentinfo">
    <h2>Menu Navigation</h2>
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/uses">Uses</a></li>
      <li><a href="/wiki">Wiki</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/colophon">Colophon</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/atom.xml">RSS</a></li>
      <li><a href="#top">&uarr; Top of the page</a></li>
    </ul>
    <small>
      Built with <a href="https://git.sr.ht/~bt/barf">barf</a>. <br>
      Maintained with ♥ for the web. <br>
      Proud supporter of <a href="https://usefathom.com/ref/DKHJVX">Fathom</a> &amp; <a href="https://nextdns.io/?from=74d3p3h8">NextDNS</a>. <br>
      The content for this site is <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.<br> The <a href="https://git.sr.ht/~bt/bt.ht">code for this site</a> is <a href="https://git.sr.ht/~bt/bt.ht/tree/master/item/LICENSE">MIT</a>.
    </small>
  </footer>
</body>

</html>
