<!doctype html>
<html lang="{{ metadata.language }}" id="top">

<head>
  <title>{{ title or metadata.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light">
  <link href="data:," rel="icon" />
  <link href="/tailwind.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  <link href="{{ 'atom.xml' | htmlBaseUrl(metadata.url) }}" type="application/atom+xml" rel="alternate"
    title="Atom feed for blog posts" />
</head>

<body
  class="flex flex-col min-h-screen m-auto max-w-screen-lg">
  {% include "_nav.njk" %}
  {% include "_header.njk" %}
  <main class="flex flex-col w-full">
    {{ content | safe }}
  </main>
</body>

</html>
