<header>
  <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ pageTitle }}</h1>
</header>
<section class="flex flex-col max-w-full prose lg:flex-row dark:prose-invert mt-0 mb-12 min-h-full">
  <div class="min-w-0 min-h-0 max-w-prose">
    <div class="lead !mb-9 text-xl">{{ pageDescription }}</div>
  </div>
</section>
<hr class="border-dotted w-36 border-neutral-400 mb-12">
