---
layout: default.njk
---
{{ content | safe }}
<hr />
<ul>
  {%- for entry in collections.posts | reverse %}
  <li>{{ entry.date | ISODate }} <br> <a href="{{ entry.url }}">{{ entry.data.title }}</a></li><br>
  {%- endfor %}
</ul>
