---
layout: default.njk
name: Sobrino Julian
avatar: /images/avatar.jpg
headline: Software Developer
social:
  - title: Email
    url: "mailto:sobrinojulian@pm.me"
    icon: icons/email.svg
  - title: Github
    url: https://github.com/sobrinojulian
    icon: icons/github.svg
  - title: Linkedin
    url: https://www.linkedin.com/in/sobrinojulian/
    icon: icons/linkedin.svg
---
<article class="h-full flex flex-col items-center justify-center text-center">
  <header class="mb-3 flex flex-col items-center">
    <img class="mb-2 h-36 w-36 rounded-full" alt="{{ name }}" src="{{ avatar }}">
    <h1 class="text-4xl font-extrabold">{{ name }}</h1>
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">{{ headline }}</h2>
    <div class="mt-1 text-2xl">
      <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
        {% for item in social %}
          <a class="px-1 transition-transform hover:scale-125 hover:text-primary-700 dark:hover:text-primary-400" style="will-change:transform;" href="{{ item.url }}" target="_blank" aria-label="{{ item.title }}" rel="me noopener noreferrer">
            <span class="relative inline-block align-text-bottom px-1 icon">
              {% include item.icon %}
            </span>
          </a>
        {% endfor %}
      </div>
    </div>
  </header>
  <div class="prose prose-sm md:prose dark:prose-invert md:dark:prose-invert">
    {{ content | safe }}
  </div>
</article>