* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 1rem auto;
  max-width: 75ch;
  padding: 10px;
}
img {
  height: auto;
  max-width: 100%;
  width: auto;
}
code {
  border: 1px solid;
  padding: 0.1rem 0.3rem;
  tab-size: 4;
}
pre {
  border: 1px solid;
}
pre code {
  border: 0;
  display: block;
  overflow-x: auto;
  padding: 0.3rem 0.6rem;
}
table {
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}
tr {
  border-bottom: 1px solid lightgrey;
}
@supports (color-scheme: dark light) {
  @media screen and (prefers-color-scheme: dark) {
    a:link { color: #9e9eff; }
    a:visited { color: #d0adf0; }
    a:active { color: red; }
  }
}
