<header class="py-6 font-semibold text-neutral-900 dark:text-neutral print:hidden sm:py-10">
<nav class="flex items-start justify-between sm:items-center">
    <div class="flex flex-row items-center">
    <a class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 text-xl" href="/">~sj</a>
    </div>
    <ul class="flex flex-col gap-2 list-none sm:flex-row sm:gap-8">
    <li class="mb-1 group sm:mb-0"><a href="/projects"><span class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">Projects</span></a></li>
    {#<li class="mb-1 group sm:mb-0"><a href="/writings"><span class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">Writings</span></a></li>
    <li class="mb-1 group sm:mb-0"><a href="/sets"><span class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">DJ Sets</span></a></li>#}
    </ul>
</nav>
</header>
