{% if title or description %}
<header class="flex flex-col gap-4 justify-around mb-6 py-6 sm:py-10">
  <h1 class="text-4xl font-extrabold text-neutral-900 dark:text-neutral">
    {{ title }}
  </h1>
  <p class="text-xl max-w-prose mb-12">{{ description }}</p>
  <hr class="border-dotted w-36 border-neutral-400" />
</header>
{% endif %}
