<div x-show="(active && '{{ project.status }}' === 'active') || (completed && '{{ project.status }}' === 'completed') || (deprecated && '{{ project.status }}' === 'deprecated')" class="p-4 border-[#d0d7de] border-[1px] rounded-md">
  {# Wrapper #}
  <div class="flex flex-col gap-2">
    {# Top Row #}
    <div class="flex justify-between">
      <p class="text-[#0969da]"><a href="{{ project.url }}" translate="no">{{ project.name }}</a></p>
      {%- if project.status === "completed" %}
        <p class="text-[#9a6700] border-[#9a6700] border-[1px] rounded-md px-2">{{ project.status }}</p>
      {%- elseif project.status === "active" %}
        <p class="text-green-800 border-green-700 border-[1px] rounded-md px-2">{{ project.status }}</p>
      {%- elseif project.status === "deprecated" %}
        <p class="text-[#656d76] border-[#d0d7de] border-[1px] rounded-md px-2">{{ project.status }}</p>
      {%- endif %}
    </div>
    {# Bottom Row #}
    <div class="flex flex-col gap-4">
      <p class="text-[#656d76]">{{ project.description }}</p>
      <div class="flex items-center gap-1">
        <span class="h-3 w-3 bg-[{{ project.language_color }}] inline-block rounded-full"></span> {{ project.language }}
      </div>
    </div>
  </div>
</div>
