<header class="max-w-prose">
  {# Path #}
  <ol class="text-xl text-neutral-500 dark:text-neutral-400 print:hidden">
    <li class="inline">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href="/">{{ metadata.title }}</a>
      <span class="px-1 text-primary-500">/</span>
    </li>
  </ol>
  {# Title #}
  <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ title }}</h1>
  {# Subtitle #}
  <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
    <div class="flex flex-row flex-wrap items-center">
      <time datetime="{{ date | ISODate }}">{{ date | ISODate }}</time>
      <span class="px-2 text-primary-500">·</span><span title="Reading time">{{ content | timeToRead }}</span>
    </div>
  </div>
</header>
