<header class="max-w-prose">
  <ol class="text-sm text-neutral-500 dark:text-neutral-400 print:hidden">
    <li class="inline hidden">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600"
          href="/">James Panther</a>
      <span class="px-1 text-primary-500">/</span></li>
    <li class="inline">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600"
          href="/writings/">Writings</a>
      <span class="px-1 text-primary-500">/</span></li>
    <li class="inline hidden">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600"
          href="/writings/getting-started-with-homebrew-on-macos/">{{ title }}</a>
      <span class="px-1 text-primary-500">/</span></li>
  </ol>
  <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ title }}</h1>
  <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
    <div class="flex flex-row flex-wrap items-center">
      <time datetime="2018-12-17 00:00:00 +1000 +1000">{{ date }}</time>
      <span class="px-2 text-primary-500">·</span><span title="Reading time">{{ content | timeToRead }}</span></div>
  </div>
</header>